<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/photos"></ion-back-button>
    </ion-buttons>
    <ion-title>Caméra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cam" fullscreen>
  <div class="preview-box" [class.mirrored]="useFront">
    <video #videoEl playsinline autoplay muted [class.hidden]="isReview"></video>
    <img *ngIf="isReview" [src]="snapshotDataUrl" alt="Aperçu photo" />
    <canvas #canvasEl class="hidden"></canvas>
  </div>


  <div class="controls" *ngIf="!isReview">
    <ion-button (click)="startPreview()" [disabled]="previewing">DÉMARRER LE PREVIEW</ion-button>
    <ion-button (click)="switchCamera()" [disabled]="!previewing">INVERSER CAMÉRA</ion-button>
    <ion-button color="primary" (click)="takeSnapshot()" [disabled]="!previewing">PRENDRE LA PHOTO</ion-button>
    <ion-button fill="outline" color="medium" (click)="stopPreview()" [disabled]="!previewing">ARRÊTER</ion-button>

    <ion-button expand="block" fill="outline" routerLink="/photos">ANNULER</ion-button>
  </div>


  <div class="controls" *ngIf="isReview">
    <ion-button fill="outline" (click)="retake()">REPRENDRE</ion-button>
    <ion-button color="primary" (click)="usePhoto()">UTILISER LA PHOTO</ion-button>
  </div>
</ion-content>
