<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/photos"></ion-back-button>
    </ion-buttons>

    <ion-title>Carte</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="refreshMapData()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div #mapEl class="map-container"></div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="centerNearMe()">
      <ion-icon name="locate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div class="map-hint">
    <ion-text color="medium">
      Zoom avant pour voir les points regroupés, et cliquez pour afficher les photos.
    </ion-text>
  </div>
</ion-content>
